@model ML.Peliculas
@{
    ViewData["Title"] = "GetAllFavorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">


    <div class=row>
        <div class="text-center">
            <h2>CARTELERA</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Tus Peliculas Favoritas </h5>
            <hr />
        </div>
    </div>
    @*BOTON QUE LLEVA AL FORMULARIO*@
    
    <br />
    <br />
    <div class="row">
        @foreach (ML.Peliculas pelicula in Model.PeliculasList)
        {

            <div style=" width: 20rem;">
                <div class="card text-center">
                    @if (pelicula.path == null || pelicula.path == " ")
                    {

                        <img src="/image/Usuario.jpg" class="card-img-top" style="height:350px;">
                    }
                    else
                    {
                        <img src="@pelicula.path@pelicula.poster_path" class="card-img-top" style="height:350px;">
                    }

                    <div class="card-body" style="height:250px;">
                        <h5 class="card-title">@pelicula.original_title </h5>
                        <p class="card-text">
                            Clasificacion  +18: @pelicula.adult <br />
                            Lenguaje Original: @pelicula.original_language <br />
                            Titulo: @pelicula.title
                        </p>

                        @using (Html.BeginForm("FormDelete", "Pelicula", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                           
                            <input type="text" id="name" name="id" value="@pelicula.id" style="display :none;">
                               <input type="submit" value="Quitar de Favoritos" class="btn btn-danger" />
                        }

                    </div>
                </div>
                <br />

                <br />
            </div>
        }
    </div>

</div>

